<%-include('./partials/header.html')%>
        <title>Read Now || Lívros Físicos</title>
    </head>
    <body class="page-user">
        <div class="topbar-wrap">
            <%-include('./partials/navbar.html')%>
        </div>
        <div class="page-content">
            <%-include('./pages/booksPage.ejs')%>
        </div>
        <div class="footer-bar">
            <%-include('./partials/_footer.html')%>
        </div>
<%-include('./partials/footer.html')%>
